body {
    width: 270px;
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0px;
}

.hide{
    display:none;
}
.checker {
    display: inline;
}
.style-name {
    cursor: default;
    font-weight: 500;
    margin-bottom: 2px;
    display: block;
    color:#2c3e50;
    margin-top:5px;
    font-size:16px;
    margin-left:9px;
}
.style-author{
    font-size:14px;
    color:#95a5a6;
    margin-left:9px;
}

.style-name, .style-author{
    width: 207px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.actions {
    font-size: x-small;
}
a, a:visited {
    color: black;
}

.left-gutter {
    display: none;
    width: 16px;
    vertical-align: top;
}
.left-gutter input {
    margin-top: 0;
    margin-left: 0;
}
.main-controls {
    display: table-cell;
}

.entry {
    background:#ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.entry:not(:first-child){
    margin-top: 10px;
}

body > DIV {
    padding-bottom: 2px;
}
body > DIV:last-of-type,
body.blocked > DIV {
    border-bottom: none;
}
::-webkit-scrollbar {
    display: none;
}
#installed {
    margin-top: 0.5em;
    padding:5px 20px;
    background-color: #fcfcfc;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#installed.disabled .style-name {
    text-decoration: line-through;
}
#installed .actions a {
    margin-right: 0.2em;
}
body > .actions {
    margin-top: 0.5em;
}

.actions > div:not(:last-child):not(#disable-all-wrapper), .actions > .main-controls > div:not(:last-child), #unavailable:not(:last-child), #unavailable + .actions {
    margin-bottom: 0.75em;
}
.actions input, .actions label {
    vertical-align: middle;
}
#sitename{
    height:44px;
    padding-left:16px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #2c3e50;
    line-height:46px;
    border-bottom: 1px solid #d7d7d7;
}
#unavailable {
    border: none;
    display: none;
}
body.blocked #installed,
body.blocked #find-styles,
body.blocked #write-style,
body:not(.blocked) #unavailable {
    display: none;
}

/* Never shown, but can be enabled with a style */
.enable, .disable {
    display: none;
}

/* 'New style' links */
#write-style-for {margin-right: .6ex}
.write-style-link {margin-left: .6ex}
.write-style-link::before, .write-style-link::after {font-size: x-small}
.write-style-link::before {content: "\00ad"} /* "soft" hyphen */
#match {overflow-wrap: break-word;}

/* "breadcrumbs" 'new style' links */
.breadcrumbs > .write-style-link {margin-left: 0}
.breadcrumbs:hover a {color: #bbb; text-decoration: none}

/* use just the subdomain name instead of the full domain name */
.breadcrumbs > .write-style-link[subdomain]:not(:nth-last-child(2)) {font-size: 0}
.breadcrumbs > .write-style-link[subdomain]:not(:nth-last-child(2))::before {
    content: attr(subdomain);
}

/* "dot" after each subdomain name */
.breadcrumbs > .write-style-link[subdomain]::after {content: "."}
/* no "dot" after top-level domain */
.breadcrumbs > .write-style-link:nth-last-child(2)::after {content: none}
/* "forward slash" before path ("this URL") */
.breadcrumbs > .write-style-link:last-child::before {content: "\200b/"}
.breadcrumbs > .write-style-link:last-child:first-child::before,
.breadcrumbs > .write-style-link[subdomain=""] + .write-style-link::before {content: none}

/* suppress TLD-only link */
.breadcrumbs > .write-style-link[subdomain=""] {display: none}

/* :hover style */
.breadcrumbs.url\(\) > .write-style-link, /* :hover or :focus on "this URL" sets class="url()" */
.breadcrumbs > .write-style-link:hover,
.breadcrumbs > .write-style-link:focus,
.breadcrumbs > .write-style-link:hover ~ .write-style-link[subdomain],
.breadcrumbs > .write-style-link:focus ~ .write-style-link[subdomain] {
    color: inherit;
    text-decoration: underline;
}
.delete{display:none;}
.style-edit-link{display:none;}
.upvote {
    display:block;
    width: 14px;
    height: 17.3px;
    margin-left:9px;
    margin-top:10px;
    background:url('combined-shape.svg');
    background-size: contain;
    float:left;
}
.num_installs {
    display: block;
    height: 14px;
    margin-right: 9px;
    margin-left: auto;
    margin-top: 10px;
    background: url(38.svg) left center no-repeat;
    background-size: contain;
    float: right;
    padding-left: 20px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #95a5a6;
}
.info{
    position:relative;
    padding-bottom: 9px;
}
.num_installs .installs_tooltip{
    width: 170px;
    height: 30.4px;
    background-color: rgba(44, 62, 80, 0.72);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    position: absolute;
    text-align: center;
    right: -20px;
    bottom: 22px;
    line-height:28px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    opacity:0;
    transition: opacity 0.2s linear;
}
.num_installs .installs_tooltip:before{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 60px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: rgba(44, 62, 80, 0.72) transparent;
    display: block;
    width: 0;
}
.num_installs:hover .installs_tooltip{opacity:1;}
.clear{clear:both;}
.thumbnail-holder{
    position:relative;
    width:229px;
    height:129px;
}
.thumbnail-holder .thumbnail-mask{
    height: 100%;
    width: 100%;
    position:absolute;
    opacity:0;
    background-color: rgba(0, 0, 0, 0.69);
    top:0px;
    left:0px;
    transition: opacity 0.5s linear;
}
.thumbnail-holder:hover .thumbnail-mask{
    opacity:1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.thumbnail_install, .thumbnail_install:visited{
    border-radius: 5px;
    background-color: #3498db;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    text-decoration:none;
    margin: auto;
    width:99px;
    display:block;
    margin-top:45px;
    padding-top: 8px;
    padding-bottom: 9px;
}
.thumbnail{
    position: relative;
    width: 100%;
    max-height: 129px;
    overflow-y: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.actions .main-controls{display:none;}
.bottom_controls{
    box-shadow: 0px 0 10px 0px #000000;
    margin-top:5px;
}
.top_controls .menu {
    display:block;
    width: 50%;
    height: 22px;
    background-color: #ecf0f1;
    float:left;
    text-align:center;
    line-height: 22px;
    font-size: 12px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.13);
}
.top_controls .menu.active {
    background-color: #ffffff;
}
.bottom_controls .manage_styles, .bottom_controls .add_style {
    display:block;
    width: 50%;
    height: 43.6px;
    background-color: #95a5a6;
    float:left;
    text-align:center;
    color:#ffffff;
    line-height: 42px;
    font-size: 14px;
    text-decoration: none;
}
.bottom_controls .add_style {
    background-color: #3498db;
    float: right;
}

#find-styles{
    height: 34px;
    background-color: #ffffff;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.18), 0 -1px 0 0 #cfd6d9;
}
#find-styles-link{
    margin: auto;
    margin-top: 9px;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #3498db;
    text-decoration: none;
}
.all_styles{
    display:block;
    position:relative;
    height: 34px;
    background-color: #ecf0f1;
    box-shadow: 0 1px 0 0 #cfd6d9;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #2c3e50;
    padding-left:20px;
    line-height:38px;
}
.onoff{
    position:absolute;
    top: 10px;
    right: 20px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    width: 41px;
    height: 19px;
    border-radius: 100px;
    background-color: #2ecc71;
    text-align: center;
    line-height: 20px;
    padding-right: 10px;
    cursor:pointer;
}
.Oval {
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 11px;
    right: 21px;
    border-radius: 17px;
}
.off .onoff{
    padding-left: 10px;
    padding-right: 0px;
    background-color:#95a5a6;
}
.off .Oval{
    right:53px;
}
#nostyles, #unavailable-message, #noServerConnection{
    height: 57px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #2c3e50;
    padding:25px;
    margin-top: 130px;
    margin-bottom: 152px;
}
#unavailable-message{
    display: block;
    margin: 0;
}